@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

/* Common styles  */
.featured-bike-section,
.latest-news-section,
.happy-clients-section,
.faq-section {
    margin-top: 65px;
    margin-bottom: 65px;
}
.footer-section{
    padding: 50px 0px;
}

/* header section  */
.header-section-background {
    background-color: #264653;
    ;
}

.navbar-banner-section {
    padding: 80px 0;
}

.pragraph-font {
    font-size: 16px;
}

.banner-text {
    color: #E0E0E0;
    ;
}

/* button  */
.button-color {
    background-color: #E76F51;
}

/* featured bikes section  */
.grayscale-image {
    filter: grayscale(100%);
}

.horigontal-row {
    width: 50px;
}

.orange-text-color {
    color: #E76F51;
}
/* footer section */
.footer-background{
    background-color: #0B0D17;
}